<launch>

  <group ns="aleph2">
  
    <rosparam command="load" file="$(find aleph2_gazebo)/config/controllers.yaml"/>

    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
      controllers/state
    "/>

    <node name="drivetrain_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
      drivetrain/controllers/diff_drive
    "/>

    <node name="manip_effort_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
      manip/controllers/effort/base
      manip/controllers/effort/shoulder
      manip/controllers/effort/elbow
      manip/controllers/effort/wrist_tilt
      manip/controllers/effort/wrist_roll
      manip/controllers/effort/gripper
    "/>

    <node name="manip_velocity_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
      --stopped
      manip/controllers/velocity/base
      manip/controllers/velocity/shoulder
      manip/controllers/velocity/elbow
      manip/controllers/velocity/wrist_tilt
      manip/controllers/velocity/wrist_roll
      manip/controllers/velocity/gripper
    "/>

    <node name="manip_position_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
      --stopped
      manip/controllers/position/base
      manip/controllers/position/shoulder
      manip/controllers/position/elbow
      manip/controllers/position/wrist_tilt
      manip/controllers/position/wrist_roll
      manip/controllers/position/gripper
    "/>

    <node name="manip_trajectory_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="
      --stopped
      manip/controllers/trajectory
    "/>

  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="joint_states" to="aleph2/joint_states"/>
  </node>

</launch>