<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find aleph2_description)/urdf/aleph2.urdf.xacro'" />

  <rosparam command="load" ns="aleph2" file="$(find aleph2_gazebo)/config/pid.yaml"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf 
      -z 1 
      -model aleph2 
      -param robot_description
  "/>

</launch>